.article-row {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    color:white;
    margin:2px 0 0 0;
    padding:5px;
}

.article-row button {
    color:white;
}
.rounded {
    border-radius:5px;
}
.article-name {
    min-width:150px;
}
.article-img {
    min-width:110px;
}
.article-price {
    min-width:70px;
}
.article-buy {
    min-width:70px;
}
