<div *ngIf='qt_articles == 0'>
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <div class="row article-row bg-dark">
                <div class="col bg-dark">
                    You have no articles in Cart. See <a routerLink="/" class="btn btn-info">Catalog</a> to add.
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<app-article-cart *ngFor='let a of article_refs' [article_ref]='a'></app-article-cart>

<div class="row" *ngIf="qt_articles > 0">
    <div class="col"></div>
    <div class="col-10">
        <div class="row article-row bg-dark">
            <div class="col bg-dark text-right">
                Total&nbsp;: {{totCost.toFixed(2)}}&nbsp;€
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>